<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Product</title>
</head>
<body>
	<form action="#" th:action="@{'/product/add/category/' + ${categoryId}}" th:object="${product}"
		method="post">
		<p>
			Name: <input name="name" type="text" />
		</p>
		<p>
			Description: <input name="description" type="text" />
		</p>
		<p>
			Price: <input name="price" type="number" />
		</p>
		<p>
			Brand: <input name="brand" type="text" />
		</p>
		<p>
			Version: <input name="version" type="number" />
		</p>
		<p>
			<input type="submit" value="Add Product" />
		</p>
	</form>
</body>
</html>